
body {
  font-family: Arial, sans-serif;
  background: #f5f1e8;
  margin: 0;
  text-align: center;
}

header {
  padding: 20px;
}

.container {
  display: flex;
  height: 80vh;
}

.menu-panel {
  flex: 1;
  padding: 10px;
}

.menu-item {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.panel-title {
  margin-bottom: 10px;
}
